<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.example.myapp.app.Main"
            android:label="@string/app_name"
                android:theme="@style/TransparentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.myapp.app.login.Login"
            android:label="@string/app_name"
            android:parentActivityName="com.example.myapp.app.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myapp.app.Main" />
        </activity>
        <activity
            android:name="com.example.myapp.app.Register"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.myapp.app.DashboardActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
                android:name="com.example.myapp.app.RegisterWithEmail"
                android:label="@string/app_name" >
        </activity>

    </application>
</manifest>
